
*{
    font-family:"roboto", sans-serif;
    margin: 0;
    padding: 0;  
}
header nav img{
    width: 25%;
}
header nav div ul{
    display: flex;
}
li{
    list-style-type: none;
    color:rgb(178, 178, 178);
    cursor: pointer;
    margin-right: 30px;
}
li:hover{
    color: aquamarine;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 3px 4px rgb(222, 220, 220);
    padding: 1%;
    position: fixed;
    background-color: white;
}
.icon{
    width: 3%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 3%;
}
h1 {
    text-align: center;
    margin-top: 3%;
    font-weight: lighter;
}
.MyPara {
    color: gray;
    width: 40%;
    font-size: 15px;
    letter-spacing: 2px;
}
.container {
    display: flex;
    justify-content: space-evenly;
    margin: 3%;
}
.MyPara2{
    color: gray;
    text-align: center;
    width: 40%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 3%;

}
button{
    background-color: aqua;
    color: white;
    border: none;
    outline: none;
    padding-left:  1px;
    padding-right: 1px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: blue;
}
.container-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.warsaw{
    width: 25%;
}
.card{
    border-radius:  8px;
    cursor: pointer;
    width: 25%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.card:hover{
    box-shadow: 5px 5px 12px rgb(110, 110, 110);
}
.country-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.button-center{
    display: flex;
    justify-content: center;
    margin: auto;
}

    
